
body {
    background-image: url('linedpaper/linedpaper.png');
    width: 600px;
    margin: 0 auto;
    padding: 0;
    font-family: courier, monospace;
  }
  form {
    color: #3498db;
    font-size: 22px;
  }
  input[type="text"]{
    background-color : #f8f8f8;
  }